<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />    
    </startup>
  <appSettings>
    <add key="SPOAccount" value="youruserid" />
    <add key="SPOPassword" value="yourpassword" />
  </appSettings>
  <connectionStrings>
    <add name="Products"
     connectionString="Server=tcp:newsupplierrequestsdbserver.database.windows.net,1433;Initial Catalog=bikestore;Persist Security Info=False;User ID=mysa;Password=*****;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>